<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 커스텀 하이라이팅 경로 설정 -->
    <conversionRule conversionWord="highlight"
                    converterClass="com.sprint.mission.discodeit.common.config.CustomHighlightConverter"/>
    <!-- 로그 경로 설정 -->
    <property name="LOG_DIR" value="./logs"/>
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%logger{36}]) %green([ %X{requestId:--} | %X{requestMethod:--} | %X{requestUrl:--} ]) - %msg%n"/>

    <!-- 1. 콘솔 Appender 설정  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 2. 파일 Appender 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 일별 + 용량 초과 시 .0, .1, .2 ... 로 분리 -->
            <fileNamePattern>${LOG_DIR}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 파일당 최대 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 30일 보관 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 3. Root 로거 설정-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>

